@import '../../colours';


.page{
    $page-margin: 0;
    $page-padding: 20px;
    $nav-height: 75px;

    color: $black;
    // border: 1px solid rgba($black, 0.4);
    width: calc(100% - $page-margin * 2);
    height: calc(100% - $nav-height - $page-margin);
    margin: $page-margin;
    padding: $page-padding;
    
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar:hover {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }



    &::-webkit-scrollbar-thumb {
        background: $brown;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $brown;
    }

}

@media (max-width: 600px) {
    .page{
        $page-margin: 5px;
        $page-padding: 10px;
        $nav-height: 100px;
    }
    
}

// when on mobile dont show scroll bar
@media (max-width: 600px) {
    .page{
        &::-webkit-scrollbar {
            width: 0px;
        }
    
        &::-webkit-scrollbar:hover {
            width: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: $white;
        }
    
    
    
        &::-webkit-scrollbar-thumb {
            background: $brown;
            border-radius: 5px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: $brown;
        }
    }
}

