canvas {
    position: relative;
    left: 0;
    top: 0;

    z-index: 10;
}
    

.scene-logo {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    font-size: 50px;
}

.scene-logo-text {
    text-shadow: 2px 2px 2px black;
    font-family: 'Silkscreen', sans-serif;
}

.scene-begin-text {
    font-size: 20px;
    opacity: 0.6;
    margin-top: 15px;
    font-family: 'Silkscreen', sans-serif;
}

.scene-begin-text.active{
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.3;
        transform: scale(0.95);
    }
    100% {
        opacity: 0.5;
    }
}

.scene-background {
    background: repeating-linear-gradient(45deg, #A6D0DD, #A6D0DD 100px, #FFD3B0 100px, #FFD3B0 200px, #FFF9DE 200px, #FFF9DE 300px);
    background-size: 200% 200%;
    animation: stripe 20s linear infinite;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

@keyframes stripe {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
    




