@import '../../../colours';



.questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;

    gap: 60px;

    margin-top: 40px;
    margin-bottom: 30px;

    width: 100%;

    color: $brown;

    text-align: center;

    .question{
        max-width: 500px;
  
        font-family: $secondary-font;
    }

    .q{
        $backgroundOpacity: .5;
        background: repeating-linear-gradient(45deg, rgba($blue, $backgroundOpacity), rgba($blue, $backgroundOpacity) 10px, rgba($white2, $backgroundOpacity) 10px, rgba($white2, $backgroundOpacity) 20px);
        font-size: clamp(18px, 5vw, 30px);
        margin-bottom: 10px;
    }

    .a {
        max-width: 80%;
        margin: 0 auto;
    }
}

.schedule{

    font-family: $secondary-font;
    color: $brown;
    text-align: center;
    margin-bottom: 80px;

    .day{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 30px;
        background: repeating-linear-gradient(45deg, rgba(209, 229, 235, 0.5), rgba(209, 229, 235, 0.5) 10px, rgba(245, 236, 219, 0.5) 10px, rgba(245, 236, 219, 0.5) 20px);
    }

    .events{
        margin: 0 auto;
        width: 100%;
        .event{

            .seperator{
                width: 0px;
                height: 100%;
                border: 2px dashed $yellow;
            }

            display: grid;
            grid-template-columns: 1fr 5px 1fr;
            text-align: left;
            gap: 3vw;
            width:100%;
            margin: 30px 0;

            .left{
                text-align: right;
            }
            
            .time{
                font-size: 20px;
            }
    
            .name{
                font-size: clamp(16px, 2vw, 26px);
                display: flex;
                align-items: center;
              
            }
    
            .venue{
                font-size: 12px;
                opacity: 0.7;
            }
        }

    }
}