@import '../../../colours';
$angle: 8px;
$angle-o: 4px;

@media screen and (max-width:620px) {
  #mlh-trust-badge{
    display: none;
  }
}
@media screen and (min-width:620px) {
  #mlh-trust-badge {
    display: flex;
    position:fixed;
    right: -20px;
    top:30px;
    width:15%;
    max-width: 130px;
    min-width:60px;
    z-index:10000;
    border: none;
    background: transparent;
  }
}
#mlh-trust-img
{
  width: 100%;
}
.main-box {


  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-hover{
  &:after{
    display: none;
  }
}

.part{
  min-height: calc(100vh - 150px);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  p {
    color: $brown;
    font-size: clamp(14px, 1.5vw, 24px);
    margin: 10px;
  }

  margin-bottom: 50px;
  
}


.pageHeader{
  font-family: $main-font;
  font-size: 28px;
  font-size: clamp(31px,6vw, 70px);
  color: $brown;
  text-align: center;
  margin-bottom: 30px;
}


.description{
  font-family: $secondary-font;
  font-size: clamp(14px, 2vw, 26px);
  color: $brown;
  opacity: 0.7;

  text-align: center;
}

.socialIcons{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;


  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: clamp(0px, 17%, 60px);
    // padding: none;
    padding: 10px 10px;
  }

  img{
    
    width: 100%;

  }
}

.inner-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 1;

  background-image: url('/x.png');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;

    opacity: 0.3;
    // filter: blur(5px) ;
}

.game{

  // border-top: 2px solid $brown;
  // border-bottom: 2px solid $brown;


  border-top: 6px dashed rgba($brown,01);
  border-bottom: 6px dashed rgba($brown,01);



  padding-top: 30px;
  margin-top: 10px;
  // margin-bottom: 40px;

  canvas{
    // width: 90% !important;
    // height: 100px !important;
  }
}



.inner-box {

    // margin-top: 80px;
    margin-bottom: 40px;

    // change backgound image opacity
    
    position: relative;
    border: 2px solid $brown;
    padding: 20px;
    width: clamp(100px, calc(90vw - 60px), 1000px);
    height: clamp( 180px, 25vw, 250px);
    font-family: $secondary-font;
    font-size: 36px;
    // background-color: $white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;

    h1{
      opacity: 0.8;
      
      font-size: 24px;
      color: $brown;
      margin-top: 10px;
      font-size: clamp(14px, 2vw, 24px);
      z-index: 3;
    }

    .countdown-timer{
      color: $brown;
      font-family: $main-font;
      font-size: clamp(16px, 9vw, 90px);
      
      line-height: clamp(16px, 9vw, 90px);
      margin-top: 10px;
      z-index: 3;
    }

    .links{
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 50%;
      transform:translate(-50%, 50%);
      bottom: 10px;
      width: 90%;
      max-width: 600px;
      min-width: 150px;
      gap: 20px;
      align-items: center;
      justify-content: center;
      z-index: 4;
    }

    a{
      
      color: $brown;
      font-size: 30px;
      font-size: clamp(15px, 2vw, 25px);
     
      margin: 0px;
    }
}

.countdown {
    font-size: 48px;
    
}


.bottom-section {
    font-family: $secondary-font;
    text-align: center;
}

/* Add additional styling for fun visual elements within the main box */




.button {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: rgb(255, 255, 255);
  
  text-transform: uppercase;
  color: black;
  font-family: $secondary-font;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0 black;
  text-decoration: none;
  
  &:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 black;
    
    &::after {
      top: 1px;
      left: -2px;
      width: $angle-o;
      height: $angle-o;
    }
    
    &::before {
      bottom: -2px;
      right: 1px;
      width: $angle-o;
      height: $angle-o;
    }
  }
  
  &::after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: $angle;
    height: $angle;
    background-color: black;
    transform: rotate(45deg);
    z-index: -1;
    
  }
  
  &::before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: $angle;
    height: $angle;
    background-color: black;
    transform: rotate(45deg);
    z-index: -1;
  }
}

a.btn { position: relative; }

a:active.btn {
  top: 6px;
  left: -6px;
  box-shadow: none;
  
  &:before {
    bottom: 1px;
    right: 1px;
  }
  
  &:after {
    top: 1px;
    left: 1px;
  }
}

.not-active{
  pointer-events: none;
  opacity: 1;
  color: rgba($brown, 0.5) !important;
  border: rgba($brown, 0.5) 2px solid !important;
}
