// Styles for the footer component

@import '../../colours';

footer{
    background-color: #000;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}