// General Styles for the Application
// Uses scss for extra functionality but normal css can be used

@import 'colours';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: $black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  left: 0;
  top: 0;
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}