
@import '../../colours';

.border{
    display: flex;
    width: 96vw;
    height: 96vh;
    background: $brown;
    left: 2vw;
    top: 2vh;
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba($black, 0.4);
}

.background{
   width: 100%;
   height: 100%;
   transform: translate(-3px,-3px);
   border: 2px solid $brown;
   border-radius: 5px;
   background: $white2;
}